.App {
  text-align: center;
  position:relative;
}

.navLinks{
  width: 100%;
  background-color: rgb(221, 129, 230);
  height: 150px;
  position: relative;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: whitesmoke;
  font-size: large;
  z-index: 1;
}
.navLinks a{
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
}

.storeName{
  
  height: 60px;
  position: absolute;
  top: 20px;
  right: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  z-index: 1;
}
.flowerCard{
  position: relative;
  margin: 0px 15px 0px 15px;
  width: 160px;
}
.flowerImg{
  height: 240px;
  width: 160px;
  object-fit: cover;
  border-radius: 10px;
}
.flowerContainer{
  position: absolute;
  top: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
};
.logoImage{
  height: 200px;
  width: 200px;
}

.flowerBanner{
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 2;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageFlower{
  width: 1000 px;
  height: 500px;
  border-radius: 10px;
}
.right-arrow{
  position:absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
}
.left-arrow{
  position:absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1.5s;
  transform: scale(1.2);
}
.flowerCardDetails{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}
.flowerImgDetails{
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.flowerDetailsText{
  font-size: 20px;
  padding-left: 20px;
}
.button{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.cartContainer{
  max-height: 200px;
  padding: 20px;
  position: relative;
  display: flex;
  width: 100%;
  
  
  
}
.imageContainer{
  height: 200px;
  width: 50%; 
  object-fit: cover;
  border-radius: 10px;

}
.cartTextDetail{
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  position: relative;
}
.cartTextDetail p{
  position: relative;
  
}

.flowerName{
  position: absolute;
  top: 5px;
}

.cartHeader {
  
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content:flex-start;
  
  
  
}
.cartHeader h2{
  margin-left: 250px;
  margin-right: 100px;
  position: relative;
}
.cartContainerList{
  left: 0px;
  position: relative;
}

.header h2{
  display: inline;
  margin: 0 120px;
}
.header span h2{
  margin-left: 250px;
}
