.App {
  text-align: center;
  position:relative;
}
.navLinks{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 150px;
  position: relative;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: whitesmoke;
  font-size: large;
  z-index: 1;
}
.navLinks a{
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
}
.storeName{
  
  height: 60px;
  position: absolute;
  top: 20px;
  right: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  z-index: 1;
}
.flowerCard{
  position: relative;
  margin: 0px 15px 0px 15px;
  width: 160px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: space-evenly;
}
.flowerImg{
  height: 240px;
  width: 160px;
  object-fit: cover;
  border-radius: 1px;
}
.flowerImg:hover{
  box-shadow: 12px 12px 15px rgba(33,33,33,.2); 
}
.flowerContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
};
.flowerBanner{
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 2;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageFlower{
  width: 1000 px;
  height: 500px;
  border-radius: 10px;
}
.right-arrow{
  position:absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
}
.left-arrow{
  position:absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1.5s;
  transform: scale(1.1);
}
.flowerCardDetails{
  display: flex;
  padding-left: 30px;
  position: relative;
  flex-direction: row;
}
  
  
.flowerImgDetails{
  height: 400px;
  width: 400px;
  padding-left: 25px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 10px grey;
}
.flowerDetailsTextContainer{
  font-size: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column
  
}
.button{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.cartContainer{
  max-height: 200px;
  padding: 20px;
  position: relative;
  display: flex;
  width: 100%;
  
  
  
}
.imageContainer{
  height: 200px;
  width: 50%; 
  object-fit: cover;
  border-radius: 10px;
}
.cartTextDetail{
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  position: relative;
}
.cartTextDetail p{
  position: relative;
  
}
.flowerName{
  position: absolute;
  top: 5px;
}
.cartHeader {
  
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content:flex-start;
  
  
  
}
.cartHeader h2{
  margin-left: 250px;
  margin-right: 100px;
  position: relative;
}
.cartContainerList{
  left: 0px;
  position: relative;
}
.header h2{
  display: inline;
  margin: 0 120px;
}
.header span h2{
  margin-left: 250px;
}
.flowerCard .flowerDetails {
  font-family: Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12pt;
  color: #192841;
  display: flex;
  border-bottom: 0.01em solid rgb(99, 99, 99);
  position: relative;
  align-items: baseline;
  justify-content: space-between;
}
.flowerCard .flowerDetails .price{
  text-align: right;
}
/* .flowerDetails p{ */
  /* font-family:Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  /* color: #192841;
  font-size: 12pt */
/* } */
.buttonContainer{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 15px;
  
}
.buttonContainer button{
 
  color: white;
  border-style: hidden;
  background-color: #192841;
  /* #FFC0CB */
  
  border-radius: 15px;
  box-shadow: 0 4px rgb(145, 143, 143);
  z-index: 6;
  
  
}
.buttonContainer button:hover{
  background-color: #FFC0CB;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttonContainers button:active{
  background-color: #192841;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.inform a{
  color: #192841;
  font-family:Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: 15pt;
  position: relative;
  padding-right: 10pt;
  right: -830px;
  /* is at the upper right hand corner but doesnt adjsut */
}
.inform a:hover{
  background-color: #192841;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.storeName h1{
  color: #192841;
  text-align: center;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 0; */
  margin-top: 25%;
  /* margin-left: 0.1%; */
}
.logoImage{
   height: 300px;
   width:300px;
   margin-top: 12%;
}
.flowerDetailsTextContainer .flowerTitle h3{
  /* color: rgb(250, 149, 166); */
  margin: 5px 0px 10px 0px;
  color: #192841;
  font-size: 50px;
  /* text-decoration: underline 0.04em #192841; */
  text-shadow: 2px 2px rgb(250, 149, 166);
  font-family: Arial, Helvetica, sans-serif;
}
.flowerDetailsTextContainer .description{
  color: #192841;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.description p{
  color: #192841;
  font-family: Arial, Helvetica, sans-serif;
}
.flowerDetailsTextContainer .buttonDetailPage button {
  color: white;
  border-style: hidden;
  background-color: #192841;
  /* #FFC0CB */
  padding-top: 1px;
  padding-bottom: 0.50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  box-shadow: 0 4px rgb(145, 143, 143);
  font-size: 20px;
}
.flowerDetailsTextContainer .buttonDetailPage button:hover{
  background-color: #FFC0CB;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.flowerDetailsTextContainer .buttonDetailPage button:active{
  background-color: #192841;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.header h2{
  color: #192841;
  text-shadow: 1.5px 1.5px rgb(197, 195, 195);
  font-size: 40px;
  padding-right: 30pt;
  padding-left: 30pt;
  padding-top: 5em;
  
}
.flowerName h1{
  /* Trying to make the name on one line when increasing the font-size*/
  /* How to move quanity? */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
.imageContainer{
  position: relative;
  left: -63px;
}
input[type=text]{
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number]{
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: rgb(189, 243, 189);
}
input[type=number]:focus {
  background-color: rgb(189, 243, 189);
}
textarea {
  width: 200px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
label{
  display: inline-block;
}
.formSubmit{
  position: relative;
}
.aboutUsImage {
  padding-top: 35px;
}
#header1 {
  color: #192841;
  text-shadow: 2px 2px pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}
#creators {
  color: #192841;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 1200px;
  margin-left: 280px;
}
#header2 {
  color: #192841;
  text-shadow: 2px 2px pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}
#aboutShop {
  color: #192841;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 1200px;
  margin-left: 280px;
}
#shopHours {
  color: #192841;
  text-shadow: 2px 2px pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  
}
#hours{
  color: #192841;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#header3 {
  color: #192841;
  font-size: 20px;
  text-shadow:  1px 1px pink;
}
#holidayHours {
  color: #192841;
  font-size: 20px;
  text-align: center;
  width: 980px;
  margin-left: 360px;
}
#header4 {
  color: #192841;
  text-shadow: 2px 2px pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}
#timedDelivery{
  color: #192841;
  font-size: 20px;
  text-align: center;
  width: 1200px;
  margin-left: 260px;
}
#header5 {
  color: rgb(255, 132, 153);
  text-shadow: 1px 1px #6d6d6d;
}
#header6 {
  color: rgb(255, 132, 153);
  text-shadow: 1px 1px #616161;
}
#aboutUsLogo {
  height: 500px;
  width: 500px;
  border: solid 1px black;
  border-radius: 90%;
  box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.2);
}
.formSubmit #submitHeader {
  position: relative;
  top: -125px;
  color: #192841;
  text-shadow: 1px 1px #ff9cd9;
  font-size: 60px;
}
.formSubmit .submitImage{
  position: relative;
  top: -80px;
  height: 600px;
  width: 765px;
  border-radius: 20px;
  box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.2);
  border: solid 0.1px black;
} 
label  #nameForm #nameBox{
  justify-content: space-between;
}
.formSubmit #nameForm {
  position: relative;
  top: -45px;
  color: #192841;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
}
.formSubmit #colorForm{
  position: relative;
  top: -20px;
  color: #192841;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.formSubmit #urlForm{
  position: relative;
  top: -20px;
  color: #192841;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.formSubmit #seasonForm{
  position: relative;
  top: -10px;
  color: #192841;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.formSubmit #priceForm{
  position: relative;
  top: -10px;
  color: #192841;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#quantityForm{
  color: #192841;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.formSubmit #descriptionForm{
  position: relative;
  top: 10px;
  color: #192841;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.formSubmit .submitButton {
  position: relative;
  top: 20px;
  bottom: 20px;
  color: white;
  background-color: #192841;
  border-style: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 15px;
  box-shadow: 0 5px rgb(145, 143, 143);
  font-size: 30px;
}
.formSubmit .submitButton:hover{
  position: relative;
  top: 20px;
  background-color: #FFC0CB;
  color: white;
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}