.App {
  text-align: center;
  position:relative;
}

.navLinks{
  width: 100%;
  background-color: rgb(221, 129, 230);
  height: 150px;
  position: relative;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: whitesmoke;
  font-size: large;
  z-index: 1;
}
.navLinks a{
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
}

.storeName{
  
  height: 60px;
  position: absolute;
  top: 20px;
  right: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  z-index: 1;
}
.flowerCard{
  position: relative;
  margin: 0px 15px 0px 15px;
  width: 160px;
}
.flowerImg{
  height: 240px;
  width: 160px;
  border-radius: 10px;
}
.flowerContainer{
  position: absolute;
  top: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
};
.logoImage{
  height: 200px;
  width: 200px;
}

.flowerBanner{
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 2;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageFlower{
  width: 1000 px;
  height: 500px;
  border-radius: 10px;
}
.right-arrow{
  position:absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
}
.left-arrow{
  position:absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1.5s;
  transform: scale(1.2);
}